@import "primeicons/primeicons.css";
@import './assets/admin/admin.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  background-color: #F9F5FF !important;
  font-family: 'Plus Jakarta Sans', sans-serif;
}